* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #282a36;
}

::selection {
  background: #1a75ff;
  color: #fff;
}

.wrapper {
}
